@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this new section */
@layer base {
  html, body {
    @apply overflow-x-hidden;
  }
}

@keyframes bounce {
  0%, 100% { transform: translateX(0); }
  50% { transform: translateX(3px); }
}

.hover-bounce:hover svg {
  animation: bounce 0.5s infinite;
}
